      $black: #000;
      $white: #fff;
       $blue: #0000ff;
  $dark-blue: #030394;
        $red: #ff0000;
   $dark-red: #780606;
     $yellow: #ffff00;
$dark-yellow: #afaf00;
      $green: #00ff00;
 $dark-green: #158715;
       $gray: #c0c0c0;
 $light-gray: #eaeaea;
  $dark-gray: #3a3939;