@import 'reset';
@import 'mixins';
@import 'colors';
@import 'sizes';

@import url('https://fonts.googleapis.com/css?family=Orbitron');

* { transition: background-color 0.4s }

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
}


/* Media Queries
-------------------------------------- */
@media (min-width: $mobile-xs) { }
@media (min-width: $mobile) { }
@media (min-width: $tablet) { }
@media (min-width: $desktop-sm) { }
@media (min-width: $desktop-lg) { }
@media (min-width: $desktop-xl) { }
