@import 'reset';
@import 'mixins';

* { transition: background-color 0.4s }

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
}

#board {
  padding: none;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.box {
  height: 17px;
  width: 17px;
  display: inline-block;
  background-color: #292b2c;
}

.blue {
  background-color: #0275d8;
}

.lightblue {
  background-color: #5bc0de;
}

.yellow {
  background-color: #ffff00;
}

.red {
  background-color: #d9534f;
}
