@import url("https://fonts.googleapis.com/css?family=Orbitron");
* {
  transition: background-color 0.4s; }

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden; }

.box {
  height: 20px;
  width: 20px;
  background-color: gray; }

/* Media Queries
-------------------------------------- */
